@font-face {
    font-family: Monaco;
    src: local(monaco), url(monaco.ttf);
}

html {
    height: 100%;
    text-align: justify;
    background-color: black;
    color: white;
    font-size: large;
    padding-top: 10px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 16px;
}

#content{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin:0 auto;
    overflow: hidden;
}

.green {
    color: #00c200;
}

#pdf_container {
    width: 100%;
    text-align: right;
}

a {
    color: #FF0000;
    font-size: 15px;
    font-weight:bold;
    text-decoration: none;
    background: #FF0000;
    color: #000000;
}

.yellow {
    color: #fffc67;
}

.el-big{
    width: 75%;
}

.el-small {
    width: 25%;
}

.el-100 {
    width: 100%;
}

.el b {
    font-size: 16px;
}
